@import "~augmented-ui/augmented-ui.css";

@font-face {
  font-family: futurama-bold;
  src: url("~@/assets/fonts/Futurama Bold Font.ttf");
}
@font-face {
  font-family: futura-medium;
  src: url("~@/assets/fonts/Futura-font-Medium-Cyrillic.otf");
}
@font-face {
  font-family: futurama-title;
  src: url("~@/assets/fonts/Futurama Title Font.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("~@/assets/fonts/Montserrat-Regular.ttf");
}

.first-wraper {
  max-width: 1128px;
  margin: 0 auto;
  position: relative;
}

.left-side-icon {
  position: absolute;
  top: 0;
  left: -320px;
  width: 240px;
  height: 240px;
}

.right-side-icon {
  position: absolute;
  top: 0;
  right: -320px;
  width: 240px;
  height: 240px;
}

.heading-block {
  display: flex;
  flex-direction: row;
  margin-top: 82px;
}

.heading-block img {
  width: 56px;
  height: 56px;
}

.heading-block h2 {
  font-family: futurama-bold;
  font-weight: 700;
  font-size: 48px;
  color: #c3ddfd;
  margin: 0;
}

body {
  background-color: #1e1e1e;
  margin: 0;
  width: 100%;
}

/* TABS */

.tabs-component-tabs{
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.tabs-component-tab-a{
    text-decoration: none;
    color: #9CA3AF;
    font-family: futura-medium;
    font-size: 20px;
    padding: 12px 24px;
}

.tabs-component-tab-a:hover{
    background-color: #101f49;
    color: #C3DDFD;
}

.tabs-component-tab-a:active{
  background-color: #1c64f2;
  color: #fff;
}

.tabs-component-tab .is-active{
    text-transform: uppercase;
    color: #3F83F8;
    border-bottom: 2px solid #1C64F2;
    background-color: #0D1422;
}

.tabs-component-tab .is-active:hover{
    background-color: #101f49;
    color: #c3ddfd;
    border-bottom: 2px solid #3f83f8;
    
}

.tabs-component-tab .is-active:active{
  background-color: #1c64f2;
  border-bottom: 2px solid #c3ddfd;
  color: #fff;
}

.tabs-component-panels{
    width: 100%;
    height: 805px;
    margin-top: 38px;
}